
    body {  
      height: 100%;  
      background-image: linear-gradient(white, lightblue);  
      display: flex;  
      justify-content: center; 
      align-items: center;   
      flex-direction: column;  
    }  

    .level {  
      margin-top: 15px;  
      display: flex;  
      justify-content: space-between;  
    }

    #easy{
      margin:10px
    }

    #med{
      margin:10px
    }

    #hard{
      margin:10px
    }

    .level button{
      border: none;  
      font-size: 20px;  
      font-weight: bold;  
      border-radius: 5px;  
      box-shadow: 0 1px 4px;  
      padding: 5px;  
      width: 100px;  
      background-color: palevioletred;  
      color: black;  
      outline: none;  
      cursor: pointer; 
    }

    .level button:hover {  
      color: white;  
      background-color: darkmagenta;  
    } 
      
    .game {    
      width: 420px;
      box-shadow: 0 1px 4px black;  
      padding: 20px;  
      background-color:lightskyblue;  
      border-radius: 5px;  
    }  

    .grid16{
      display: grid; 
      justify-content: center; 
      grid-template-columns: 60px 60px 60px 60px;  
      grid-template-rows: 60px 60px 60px 60px;  
      margin-bottom: 10px;
    }

    .grid36 button {    
      outline: black;  
      cursor: pointer;  
    }  

    .grid16 button {    
      outline: black;    
    }  

    .grid36{
      display: grid; 
      justify-content: center; 
      grid-template-columns: 60px 60px 60px 60px 60px 60px;  
      grid-template-rows: 60px 60px 60px 60px 60px 60px;  
    }
      
    .grid {  
      display: grid; 
      justify-content: center; 
      grid-template-columns: 60px 60px 60px 60px 60px;  
      grid-template-rows: 60px 60px 60px 60px 60px;  
       
    }  
      
    .grid button {    
      outline: black;  
      cursor: pointer;  
    }  

    .copy {
      display: grid;
      justify-content: center;
      grid-template-columns: 60px 60px 60px;  
      grid-template-rows: 60px 60px 60px;  
      padding: 10px 60px 10px 60px;
    }

    .copy button {    
      outline: black;  
    }  
      
    .footer {  
      margin-top: 15px;  
      display: flex;  
      justify-content: space-between;  
    }  
      
    .footer button {  
      border: none;  
      font-size: 20px;  
      font-weight: bold;  
      border-radius: 5px;  
      box-shadow: 0 1px 4px;  
      padding: 5px;  
      width: 80px;  
      background-color: palevioletred;  
      color: black;  
      outline: none;  
      cursor: pointer;  
    }  
      
    .footer button:hover {  
      color: white;  
      background-color: darkmagenta;  
    }  

    #reset{
      margin: 0px 10px;
    }
    
    #move{  
      text-align: center;  
      font-size: 20px;   
      font-weight: bold;  
      margin: 2px 10px;
    }  

    #time{    
      text-align: center;  
      font-size: 20px;   
      font-weight: bold;  
      margin: 2px 10px;  
    }  

